/* .btn {
  border-radius: 1.3rem !important;
} */

/* .btn {
  color: black !important;; */
  /* border-width: 1.6px !important; */
  /* border-width: 2px !important; */
  /* font-weight: 700 !important; */
/* } */
/* .btn:hover {
  color: white !important;
}

.btn-primary {
  background-color: #CFE2FF !important;
}
.btn-primary:hover {
  background-color: #0D6EFD !important;
}

.btn-warning {
  background-color: #FFF3CD !important;
}
.btn-warning:hover {
  background-color: #FFC107 !important;
}

.btn-danger {
  background-color: #F8D7DA !important;
}
.btn-danger:hover {
  background-color: #DC3545 !important;
}

.no-border {
  border:none !important;
} */